// Mixins in here
.flex (@justify, @align) {
    display: flex;
    justify-content: @justify;
    align-items: @align;
}

.border-bottom () {
    border-bottom: 2px dashed @navigation-border;
}

.spacing (@padding, @margin) {
    padding: @padding;
    margin: @margin;
}
.container-spacing () {
    padding: 0;
    margin: 30px;
}