// Navigation Styles here
.nav-container {
    .border-bottom();

    nav {
        .flex (space-between, center);
        .padding-t-b();

        @media @mobile {
            
        }

        .logo {
            color: @font-color;

        }
        
        .links {
            .flex (space-between, center);
            width: 40%;
            .main-text ();
            padding-right: 4%;

            @media @mobile {
                justify-content: space-around;
                width: 100%;
            }

            a {
                color: @font-color;
            }//End a
        }//End .links

        @media @mobile {
            .flex-direction (column, center)
        }
    }//End nav
}//End .nav-container