// Navigation Styles here
.nav-container {
    .border-bottom();
    
    nav {
        .flex (space-between, center);
        .padding-t-b();

        .logo {
            color: @font-color;
        }
        
        .links {
            .flex (space-between, center);
            width: 40%;
            .main-text ();
            padding-right: 4%;

            a {
                color: @font-color;
            }//End a
        }//End .links
    }//End nav
}//End .nav-container